/* quote of website */
.quote{
	text-transform:uppercase;
	color:navy;
	font-weight:bold;
	font-family: "Times New Roman", Times, serif;
	padding:20px;
}
/* addded movie message */
.message{
	text-transform:uppercase;
	font-weight:bold;
	color:#90EE90;
	font-family: "Times New Roman", Times, serif;
	padding:20px;
}
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
}
/*card design */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*erro{r message */
.error
{
	color:red;
}